# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# MacOS system files
.DS_Store

# All CSVs are below 100MB, but in case of updates:
# *.csv